# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Environment
.env
.envrc
*.env.local

# AWS
.aws/

# Jupyter
.ipynb_checkpoints/

# Testing 
.pytest_cache/
.coverage
htmlcov/

# Type checkers & linters
.mypy_cache/
.ruff_cache/

# Data — 
data/raw/
data/processed/

# Build artifacts
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# MISC
misc/